.category-item {
  background-color: rgb(1, 1, 1);
  width: 100%;
  height: 200px;
  border: 1px solid rgb(1, 1, 1);
  border-bottom: 4px solid black;
  transition: 500ms;
  opacity: 90%;
  display: flex;
  flex-direction: column;
  &:hover {
    border-color: white;
    border-bottom: 4px solid white;
    opacity: 100%;
  }
}

.category-item-link {
  text-decoration: none;
}

.category-heading {
  padding: 20px;
  padding-bottom: 0;
  color: white;
  font-weight: 400;
  text-align: center;
  font-family: Satoshi-Variable;
}

.category-desc {
  color: white;
  padding: 20px;
  padding-top: 10px;
  font-family: Satoshi-Variable;
  text-align: justify;
}

.category-img {
  height: 30%;
  margin: auto;
  margin-top: 48px;
  margin-bottom: 0;
  max-width: 120px;
}
