@font-face {
  font-family: "DrukWide";
  src: url("../fonts/Druk-Wide-Bold.ttf");
}

@font-face {
  font-family: "Poppins-Variable";
  src: url("../fonts/Poppins-Variable.woff2") format("woff2"),
    url("../fonts/Poppins-Variable.woff") format("woff"),
    url("../fonts/Poppins-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

.bg-container {
  background-image: url("/img/back4.jpg");
  height: 200px;
}

.news-heading {
  font-family: Satoshi-Variable;
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  margin-top: 50px;
}

.news-item {
  width: 50%;
  color: white;
  background-color: rgb(6, 6, 6);
  font-family: Satoshi-Variable;
  border: 1px solid rgb(6, 6, 6);
  padding: 20px 15px;
  margin: 20px auto;
  border-radius: 20px;
}

.news-item-text {
  text-align: justify;
}

.content-container {
  display: grid;
  width: 60%;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  grid-template-areas:
    "content content content"
    "news news sidebar";
}

.content-item-2,
.content-item-3 {
  border: 0.5px solid white;
  transition: 300ms;
  &:hover {
    border-bottom: 3px solid white;
  }
}

.slider-news {
  width: 60%;
  margin: auto;
  margin-top: 64px;
  border: 0px;
}

.slider-item-news {
  text-decoration: none;
  grid-area: content;
  height: 250px;
  width: 100%;
  color: white;
  border: 0.5px solid white;
  transition: 300ms;
  &:hover {
    border-bottom: 3px solid white;
  }
}

.slider-news-heading {
  font-family: Satoshi-Variable;
  font-weight: 400;
  padding: 20px 20px;
  padding-bottom: 10px;
}

.slider-news-article {
  font-family: Satoshi-Variable;
  text-align: justify;
  font-size: 16px;
  padding: 0 20px;
}

.content-item-2 {
  grid-area: news;
  height: 250px;
}

.content-item-3 {
  grid-area: sidebar;
  height: 250px;
  text-decoration: none;
  color: white;
}

.slider-news-bg {
  height: 100px;
  background: #010101;
  background: linear-gradient(0deg, #010101, #b280b6);
  opacity: 70%;
}

.shopnow-arrow {
  display: block;
  margin: auto;
  font-size: 70px;
  font-weight: 300;
  margin-top: 40px;
}

.shopnow-text {
  text-align: center;
  font-family: Satoshi-Variable;
  font-weight: 400;
}

.shownow-line {
  margin: 20px 40px;
}

.content-div {
  height: 250px;
}

.content-link {
  height: 250px;
  text-decoration: none;
}

.content-heading {
  color: white;
  font-family: Satoshi-Variable;
  text-align: center;
  padding-top: 60px;
  font-weight: 400;
  font-size: 20px;
}

.bg-div {
  height: 160px;

  background: #014e92;
  background: linear-gradient(0deg, #014e92, #010101);
}
