@font-face {
  font-family: "Satoshi-Bold";
  src: url("../fonts/Satoshi-Bold.woff2") format("woff2"),
    url("../fonts/Satoshi-Bold.woff") format("woff"),
    url("../fonts/Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Variable";
  src: url("../fonts/Satoshi-Variable.woff2") format("woff2"),
    url("../fonts/Satoshi-Variable.woff") format("woff"),
    url("../fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

.navbar {
  background-color: rgb(6, 6, 6);
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-heading {
  font-family: Satoshi-Bold;
  color: white;
}

.right-side {
  display: flex;
  padding-top: 15px;
}

.nav-link {
  color: white;
  font-family: Satoshi-Variable;
  margin: 10px;
  transition: 300ms;
  text-decoration: none;
  &:hover {
    opacity: 70%;
  }
}

.navbar-icon {
  color: white;
  font-size: 20px;
  margin-left: 12px;
  transition: 300ms;

  &:hover {
    opacity: 70%;
  }
}

.badge {
  font-family: Satoshi-Variable;
  color: black;
  background-color: white;
  border-radius: 100%;
  padding-left: 5px;
  font-size: 13px;
  height: 17px;
  width: 17px;
  position: relative;
  right: 5px;
  top: 10px;
}
