.products-container {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: auto;
}

#category-name {
  margin-top: 100px;
  padding-top: 50px;
  font-family: Satoshi-Variable;
  font-weight: 500;
  color: white;
  text-align: center;
  margin-bottom: 24px;
}

.product-list {
  margin-top: 24px;
}

.product-bg {
  width: 100%;
  background-size: cover;
  height: 600px;
}

.quote {
  color: white;
  text-align: center;
  font-family: Satoshi-Variable;
  padding-top: 570px;
  font-weight: 400;
}

.product-bg-desc {
  color: white;
  text-align: center;
  width: 40%;
  margin: auto;
  font-family: Satoshi-Variable;
}

.scroll {
  text-align: center;
  margin-top: 12px;
  font-family: Satoshi-Variable;
  color: white;
  text-decoration: none;
  font-size: 30px;
  &:hover {
    text-decoration: underline;
  }
}
