.product-details {
    display: flex;
    width: 60%;
    margin: auto;
    margin-top: 48px;
}

.product-details-image {
    width: 40%;
}

.product-details-heading {
    font-family: Satoshi-Variable;
    color: white;
    margin: 12px;
}

.product-details-desc {
    color: white;
    font-family: Satoshi-Variable;
    margin-left: 12px;
    text-align: justify;
    margin-bottom: 48px;
}

.product-details-container {
    margin-left: 24px;
    width: 1000px;
}

.product-details-price {
    text-align: right;
    font-weight: 600;
    font-size: 25px;
    color: white;
    font-family: Satoshi-Variable;
}

.product-details-button {
    width: 100%;
    margin-top: 12px;
    font-size: 15px;
    font-family: Satoshi-Variable;
    padding: 12px;
    border-radius: 30px;
    background-color: #242529;
    color: white;
    border: 1px solid white;
    transition: 500ms;
    &:hover {
        cursor: pointer;
        border: 1px solid gray;
    }
}