.product-link {
    text-decoration: none;
}

.product {
    border-radius: 20px;
    width: 100%;
    height: 420px;
    color: white;
    background-color: #242529;
    border: 1px solid #242529;
    &:hover {
        border-color: white;
    }
}

.product-img {
    
    display: block;
    width: 40%;
    height: 40%;
    margin: auto;
    padding-top: 12px;
}

.product-name {
    padding: 15px;
    font-family: Satoshi-Variable;
}

.product-desc {
    padding-left: 15px;
    font-family: Satoshi-Variable;
    padding-right: 15px;
    font-size: 13px;
    text-align: justify;
    opacity: 80%;
}

.product-price {
    
    font-family: Satoshi-Variable;
    font-weight: bold;
    text-align: right;
    font-size: 22px;
    padding-top: 10px;
    padding-right: 15px;
}

